
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');



:root{
    --cor-primaria: black;
    --cor-secundaria: #C74243;
    --cor-terciaria: #A60A0A;
    --cor-hover: #272727;

    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

body{
    
    background-color: var(--cor-primaria);
    color: #F6F6F6;
    box-sizing: border-box;
    

}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 9% 19%;
    
}
.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}
.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: var(--fonte-principal);
    text-align: center;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho{
    padding: 2% 0% 0% 19% ;
}
.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    color: var(--cor-secundaria);
    text-decoration: none;
}


.espaco{
    margin: 15px;
}
.apresentacao__conteudo__texto{
    font-family: var(--fonte-secundaria);
    font-size: 24px;
}
.apresentacao__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.apresentacao__links__link{
    /* background-color: #BF3030;*/
    width: 378px;
    text-align: center;
    border-radius: 13px;
    text-decoration: none;
    font-size: 24px;
    color: #F6F6F6;
    border: 2px inset var(--cor-secundaria);
    padding: 21.5px 0;
    font-family: var(--fonte-secundaria);
    display: flex;
    justify-content: center;
    gap: 13px;
    transition: transform .3s linear;
    
}
.apresentacao__links__link:hover{
    transform: scale(1.2);
    background-color: var(--cor-hover);
    cursor: pointer;
    height: 100%;
}
.foto_kaneda{
    background-image: url(/Kaneda-info/img/kaneda.jpg);
    background-size: cover;
    width: 400px;
    height: 500px;
    border-radius: 32px;
    left: 100px;
}
.foto__anime{
    
    width: 400px;
    height: 500px;
    border-radius: 32px;
    left: 100px;
}
.icons{
  width: 30px;
  height: 30px;
    
}

strong{
    color: var(--cor-terciaria);
}
.rodape{
     background-color: var(--cor-secundaria);
     color: aliceblue;
     text-align: center;
     padding: 24px;
     font-family: var(--fonte-secundaria);
    
}
